/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Limelight|Open+Sans+Condensed:300,300i,700|Raleway:300,300i,400');
/*
  font-family: 'Limelight', cursive;

  font-family: 'Open Sans Condensed', sans-serif;

  font-family: 'Libre Baskerville', serif;

  font-family: 'Raleway', sans-serif;
*/

body {
  background #f9f7f3
}
