.app-title {
  text-align center
  font-size 9rem
  text-transform uppercase
  letter-spacing 20px
  color #16262e//saturation(#16262e, 80%)
  font-family 'Limelight', cursive;
}

.app-subtitle {
  color #0fa3b1
  font-family: 'Libre Baskerville', serif;
  font-size 6rem
  text-align right
  text-transform capitalize
  letter-spacing 5px
}

.app-content {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size 2rem
  text-align justify
  color #16262e//saturation(#dbc2cf, 20%)
  letter-spacing 2px
}
